<div class="todo-item" [class.completed]="todo().completed">
  <button
    class="checkbox"
    (click)="onToggle()"
    [attr.aria-label]="todo().completed ? 'Mark as incomplete' : 'Mark as complete'"
  >
    @if (todo().completed) {
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
        <path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41L9 16.17z"/>
      </svg>
    }
  </button>

  <div class="todo-content">
    <span class="todo-title">{{ todo().title }}</span>
    @if (todo().description) {
      <span class="todo-description">{{ todo().description }}</span>
    }
  </div>

  <button
    class="delete-btn"
    (click)="onDelete()"
    aria-label="Delete todo"
  >
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
      <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"/>
    </svg>
  </button>
</div>
